body{
    width: 100vw !important;
    box-sizing: border-box !important;
    position: absolute;
    font-family: 'Montserrat' ;
}

.outline-black{
    outline: 1px solid black;
}

.shadow{
    box-shadow: 6px 6px 15px 20px;
}

.border-2{
    border-radius: 2vw;
}

.overflow-clip{
    overflow: clip !important;
}

.overflow-y-scroll{
    overflow-y: scroll !important;
    
}
.overflow-y-scroll::-webkit-scrollbar{
    display: none;
}


@media (max-width: 767px) {
    .dashboard-img{
        margin-left: 0;
        width: 25% !important;
        height: 25% !important;
    }
    .direction-column-mobile{
        flex-direction:column !important;
    }
    .tags-col{
        max-height: 10vh !important;
    }
}

@media (min-width: 767px) {
    .dashboard-img{
        margin: 0 auto;
        width: 30%;
        height: 30%;
    }
    .direction-column-mobile{
        flex-direction: row !important;
    }
}


.badge-text{
    /* font-style: oblique !important; */
    font-variant: small-caps;
    font-family: fantasy monospace;
    font-weight: 700;
    font-size: 30px;
    
}


.direction-column-mobile{
    flex-wrap: nowrap !important;
    max-height: 100% !important;
    min-height: 0 !important;
}