body{
    width: 100vw !important;
    box-sizing: border-box !important;
    position: absolute;
    font-family: 'Montserrat' ;
}

.outline-black{
    outline: 1px solid black;
}

.shadow{
    box-shadow: 6px 6px 15px 20px;
}